<html>

<head>
    <style>
        body {
            background-color: #221154;
            height: 95%;
            width: 95%;
            align-items: center;
            display: flex;
            flex: 1;
        }

        .content {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            display: flex;
            flex: 1;
            height: 70%;
            align-self: center;
            flex-direction: column;
        }

        img {
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            max-height: 30%;
        }

        .texto {
            margin-left: auto;
            margin-right: auto;
        }

        .timer {
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            color: #faf0f1;
            font-size: 50;
        }

        h2 {
            color: #faf0f1;
            font-size: 100;
            padding: 0;
            margin-top: 0px;
        }

        .seconds {
            display: none;
        }
    </style>
    <script>
        function startTimer(display) {
            var timer = document.querySelector('.seconds').textContent;
            setInterval(function () {
                var totalNumberOfSeconds = timer;
                var hours = parseInt(totalNumberOfSeconds / 3600);
                var minutes = parseInt((totalNumberOfSeconds - (hours * 3600)) / 60);
                var seconds = Math.floor((totalNumberOfSeconds - ((hours * 3600) + (minutes * 60))));
                var result = (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds < 10 ? "0" + seconds : seconds);
                display.textContent = result;
                if (timer > 0)
                    timer = timer - 1;
            }, 1000);
        }
        window.onload = function () {
            display = document.querySelector('.relogio');
            startTimer(display);
        };
    </script>
</head>

<body>
    <div class="content">
        <div class="seconds"><%- seconds %></div>
        <img src="../img/grupo-branco.png" />
        <div class="texto">
            <h1>Estaremos online em</h1>
        </div>
        <div class="timer">
            <h2 class="relogio">00:00:00</h2>
        </div>
    </div>
</body>

</html>